<div class="card">
  <br>
<h5>Purpose</h5>
<br>
<p-panel header="Problem Statement">
  <p>
    Provide a comprehensive and standalone way to perform Static Code Analysis
    on Apex classes of a salesforce org.
  </p>
</p-panel>
<br>
<p-panel header="Application Overview" [toggleable]="true" [collapsed]="true">
  <p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
  <br>
  <p><b>Org Selection:</b> View registered orgs and API Version for which SCA is to be performed.</p>
  <p><b>Apex Class Selection:</b>List of Apex classes.</p>
  <p><b>PMD Rule Selection:</b>Dynamically fetched list of Apex Rules along with Priority and Deprecation Status.</p>
  <p><b>SCA Report:</b>Displays the Report highlighting key parameters like frequency, type and distribution and details of violations.</p>
</p-panel>
<br>
<p-panel header="Learning Areas" [toggleable]="true" [collapsed]="true">
  <ul>
      <li>Salesforce OAuth Web server Flow</li>
      <li>Usage of Salesforce Metadata API for apex class retrieval</li>
      <li>Spring Data JPA with Complex table relations</li>
      <li>JWT based Authentication in Frontend as well as Backend</li>
      <li>Prime Ng library for variety of View components</li>
      <li>Apex PMD Java API for SCA </li> <img src="assets/pmd-logo-70px.png">
  </ul>
</p-panel>
</div>