
<div class="card p-p-6">
 
  <div class = " card-header bg-white">
    <h4 class="bg-orange p-m-2 p-p-2" style = "display:inline-block">Ruleset Configuration</h4>
  </div>

  <div class="card-body p-fluid">
    <button pRipple  class="btn btn-info pi pi-info p-mb-2" (click)="op.toggle($event)" >
      Selected Rules
    </button>
    
    <p-overlayPanel #op [showCloseIcon]="true" [style]="{width:'600px'}">
      <ng-template pTemplate >
          <p-table [value]="storedRules" styleClass="p-datatable-striped" [scrollable]="true"  scrollHeight="200px" >
          <ng-template pTemplate="header">
              <tr>
                  <th>Rule Name</th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rule>
              <tr>
                  <td> <b>{{rule.substring(rule.indexOf('/')+1 ) +': '+ rule.substring(0,rule.indexOf('/')) }}</b></td>
              </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage" let-columns >
            <tr >
                <td [attr.colspan]="2">
      <div class="alert alert-info text-center">All 59 Default rules will be used</div>
                </td>
            </tr>
        </ng-template>
      </p-table> 
      </ng-template>
  </p-overlayPanel>

  <div class = "card-header bg-white">
    <h5 class="bg-orange p-mb-2" style = "display:inline-block"> Modify </h5>
  </div>
 <br>
 
    <p-multiSelect
      id="ruleset"
      [options]="rulesets"
      [(ngModel)]="selectedRulesets"
      placeholder="Select Rulesets"
      [maxSelectedLabels]
      (onPanelHide)="getRuleDropdownData(selectedRulesets)"
      display="chip"
    ></p-multiSelect>
    <br>
    <p-multiSelect
      id="rules"
      [options]="rules"
      [(ngModel)]="selectedRules"
      placeholder="Select Rules"
      optionLabel="ruleName"
      [virtualScroll]="true"
      [maxSelectedLabels]
    >
      <!-- <ng-template let-selectedRules pTemplate="selectedItem">
        <div class="" *ngIf="selectedRules">
          <div class="p-text-bold">{{ selectedRules.length }} + "selected"</div>
        </div>
      </ng-template> -->
      <ng-template let-rules pTemplate="item">
        <div *ngIf="rules.deprecated; else elseBlock">
          {{ rules.ruleName + " | " + rules.priorityLabel + " | " }}
          <span style="color: #ff0000">D</span>
        </div>
        <ng-template #elseBlock
          >{{ rules.ruleName + " | " + rules.priorityLabel }}
        </ng-template>
      </ng-template>
    </p-multiSelect>
    <br>
    <label for="priority">Set Test Priority</label>
    <input type="text" pInputText [(ngModel)]="priority" readonly/>
    <p-slider id="priority" [(ngModel)]="priority" [min]="1" [max]="5" aria-describedby="slider-help"></p-slider>
    <small id="slider-help">Coverage increases with priority value</small>
    <button
      pRipple
      class="btn-block btn btn-primary p-my-4 "
      (click)="submitRulePaths(selectedRules)" 
    >
      Save
    </button>
  </div>
</div>